codelists/creation/*
codelists/csv/*
codelists/stata/*
codelists/excel/*
!codelists/README.md
!codelists/stata/README.md
!codelists/excel/README.md
covariates/ignore/*
covariates/csv/*
covariates/eventlists/*
covariates/patlists/*
covariates/raw/*
covariates/stata/*
!covariates/README.md
!covariates/csv/README.md
!covariates/eventlists/README.md
!covariates/patlists/README.md
!covariates/stata/README.md
data/additional/*
data/duration/*
data/eventlists/*
data/ignore/*
data/link/*
data/link/eventlists/*
data/link/patlists/*
data/patlists/*
data/raw/*
data/txt/*
data/zip/*
!data/raw/README.md
!data/eventlists/README.md
!data/patlists/README.md
!data/link/README.md
!data/additional/README.md
!data/txt/README.md
!data/link/patlists/README.md
!data/link/eventlists/README.md
documents/*
!documents/README.md
projects/*