codelists/*
codelists/creation/*
codelists/csv/*
codelists/stata/*
codelists/excel/*
!codelists/README.md
!codelists/stata/README.md
!codelists/excel/README.md
covariates/*
covariates/csv/*
covariates/eventlists/*
covariates/patlists/*
covariates/raw/*
covariates/stata/*
data/*
documents/*
projects/*
