codelists/creation/*
codelists/csv/*
codelists/stata/*
codelists/excel/*
!codelists/README.md
!codelists/stata/README.md
!codelists/excel/README.md
covariates/tmp/*
covariates/csv/*
covariates/eventlists/*
covariates/patlists/*
covariates/raw/*
covariates/stata/*
!covariates/README.md
!covariates/csv/README.md
!covariates/eventlists/README.md
!covariates/patlists/README.md
!covariates/stata/README.md
data/*
documents/*
projects/*
